#login-form {
    margin-top: 25px;
}

#register-form {
    margin-top: 25px;
}

.page-form {
    max-width: 480px;
    padding-top: 50px;
}

.login-text {
    text-align: center;
}

.text-center {
    margin-top: 25px;
    text-align: center;
}

.nav-bar-text {
    text-align: left;
    padding-top: 8px;
}

h1 {
    text-align: center;
}

body {
    background-color: white;
}

.profile-divs {
    background-color: white;
    border:1px solid gray;
    border-radius:5px;
    padding:5px;
}

.profile-style1 {
    text-align: center;
}

.profile-style2 {
    display:flex;
    justify-content: center;
}

.btn-mystyle {
    display:flex;
    justify-content: center;
}

.profile-drop-menu {

}

.profile-drop-button {

}

.profile-input {

}