{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin Dashboard</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
                <td>
                    <div class="container">
                        <div class="row">

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display Meetings</h5>
                                <div class="btn-mystyle"><button id="week-btn" class="btn btn-outline-primary"><a href="/display_by_week">Display</a></button></div>
                            </div>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Add Room</h5>
                                <div class="btn-mystyle"><button id="add-rm-btn" class="btn btn-outline-primary"><a href="/add_room">Add Room</a></button></div>
                            </div>

                            <div class="w-100"></div>
                            <hr>
                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display Meetings By Room</h5>
                                <div class="btn-mystyle"><button id="room-btn" class="btn btn-outline-primary"><a href="/display_by_room">Display</a></button></div>
                            </div>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display Available Rooms</h5>
                                <div class="btn-mystyle"><button id="display-rm-btn" class="btn btn-outline-primary"><a href="/view_rooms">Display Rooms</a></button></div>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display By Day</h5>
                                <div class="btn-mystyle"><button id="day-btn" class="btn btn-outline-primary" onclick="myDayFunction()">Select Day</button></div>
                                <br>
                                <div class = "profile-style2" id="day-select-form"></div>
                            </div>

                             <div class="col profile-divs">
                                <h5 class = "profile-style1">Delete Room</h5>
                                 <div class="btn-mystyle"><button id="delete-rm-btn" class="btn btn-outline-primary"><a href="/delete_room">Delete Room</a></button></div>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display By Time</h5>
                                <div class="btn-mystyle"><button id="time-btn" class="btn btn-outline-primary" onclick="myTimeFunction()">Select Time</button></div>
                                <br>
                                <div class = "profile-style2" id="time-select-form"></div>
                            </div>

                             <div class="col profile-divs">
                                <h5 class = "profile-style1">Create New Admin</h5>
                                 <div class="btn-mystyle"><button id="create-admin-btn" class="btn btn-outline-primary"><a href="/register_by_admin">Create</a></button></div>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Display By User</h5>
                                <div class="btn-mystyle"><button id="usr-btn" class="btn btn-outline-primary" onclick="myUserFunction()">Select User</button></div>
                                <br>
                                <div class = "profile-style2" id="user-select-form"></div>
                            </div>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Update Billing</h5>
                                <div class="btn-mystyle"><button id="update-bill-btn" class="btn btn-outline-primary" onclick="updateBillFunction()">Select Client</button></div>
                                <br>
                                <div class = "profile-style2" id="update-bill-form"></div>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col profile-divs">
                                <h5 class = "profile-style1">Review Complaints</h5>
                                <div class="btn-mystyle"><button id="view-cmplts-btn" class="btn btn-outline-primary"><a href="/view_complaints">View</a></button></div>
                            </div>
                            <div class="col profile-divs">

                            </div>

                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>

            <script>

              function myDayFunction() {
                var getButton = document.getElementById("day-btn");
                getButton.disabled = true;
                var user_div = document.getElementById("day-select-form");

                var myForm = document.createElement("form");
                myForm.action = "/display_by_day";
                myForm.method = "POST";
                myForm.id = "meeting-form";
                myForm.class = "profile-style2";

                var myDayDrop = document.createElement("select");
                myDayDrop.form = "meeting-form";
                myDayDrop.class = "profile-drop-menu";
                myDayDrop.id = "day-select";
                myDayDrop.name = "day-select";
                myDayDrop.style = "margin:10px;";

                var opt1 = document.createElement('option');
                opt1.appendChild( document.createTextNode('Monday') );
                opt1.value = "Mon";
                var opt2 = document.createElement('option');
                opt2.appendChild( document.createTextNode('Tuesday') );
                opt2.value = "Tue";
                var opt3 = document.createElement('option');
                opt3.appendChild( document.createTextNode('Wednesday') );
                opt3.value = "Wed";
                var opt4 = document.createElement('option');
                opt4.appendChild( document.createTextNode('Thursday') );
                opt4.value = "Thu";
                var opt5 = document.createElement('option');
                opt5.appendChild( document.createTextNode('Friday') );
                opt5.value = "Fri";

                myDayDrop.appendChild(opt1);
                myDayDrop.appendChild(opt2);
                myDayDrop.appendChild(opt3);
                myDayDrop.appendChild(opt4);
                myDayDrop.appendChild(opt5);

                var myBtn = document.createElement("button");
                myBtn.class = "profile-drop-button";
                myBtn.id = "return-day";
                myBtn.type = "submit";
                myBtn.innerHTML = "Find By Day";
                myBtn.style = "margin:10px;";

                user_div.appendChild(myForm);
                myForm.appendChild(myDayDrop);
                myForm.appendChild(myBtn);

              }

              function myTimeFunction() {

                var getButton = document.getElementById("time-btn");
                getButton.disabled = true;
                var user_div = document.getElementById("time-select-form");

                var myForm = document.createElement("form");
                myForm.action = "/display_by_time";
                myForm.method = "POST";
                myForm.id = "meeting-form2";
                myForm.class = "profile-style2";

                var myTimeDrop = document.createElement("select");
                myTimeDrop.form = "meeting-form2";
                myTimeDrop.class = "profile-drop-menu";
                myTimeDrop.id = "time-select";
                myTimeDrop.name = "time-select";
                myTimeDrop.style = "margin:10px;";

                var opt1 = document.createElement('option');
                opt1.appendChild( document.createTextNode('9:00 AM') );
                opt1.value = "9AM";
                var opt2 = document.createElement('option');
                opt2.appendChild( document.createTextNode('10:00 AM') );
                opt2.value = "10AM";
                var opt3 = document.createElement('option');
                opt3.appendChild( document.createTextNode('11:00 AM') );
                opt3.value = "11AM";
                var opt4 = document.createElement('option');
                opt4.appendChild( document.createTextNode('12:00 PM') );
                opt4.value = "12PM";
                var opt5 = document.createElement('option');
                opt5.appendChild( document.createTextNode('1:00 PM') );
                opt5.value = "1PM";
                var opt6 = document.createElement('option');
                opt6.appendChild( document.createTextNode('2:00 PM') );
                opt6.value = "2PM";
                var opt7 = document.createElement('option');
                opt7.appendChild( document.createTextNode('3:00 PM') );
                opt7.value = "3PM";
                var opt8 = document.createElement('option');
                opt8.appendChild( document.createTextNode('4:00 PM') );
                opt8.value = "4PM";
                var opt9 = document.createElement('option');
                opt9.appendChild( document.createTextNode('5:00 PM') );
                opt9.value = "5PM";

                myTimeDrop.appendChild(opt1);
                myTimeDrop.appendChild(opt2);
                myTimeDrop.appendChild(opt3);
                myTimeDrop.appendChild(opt4);
                myTimeDrop.appendChild(opt5);
                myTimeDrop.appendChild(opt6);
                myTimeDrop.appendChild(opt7);
                myTimeDrop.appendChild(opt8);
                myTimeDrop.appendChild(opt9);

                var myBtn = document.createElement("button");
                myBtn.class = "profile-drop-button";
                myBtn.id = "return-time";
                myBtn.type = "submit";
                myBtn.innerHTML = "Find By Timeslot";
                myBtn.style = "margin:10px;";

                user_div.appendChild(myForm);
                myForm.appendChild(myTimeDrop);
                myForm.appendChild(myBtn);


              }

              function myUserFunction() {
                var getButton = document.getElementById("usr-btn");
                getButton.disabled = true;
                var user_div = document.getElementById("user-select-form");
                var myForm = document.createElement("form");
                myForm.action = "/display_by_user";
                myForm.method = "POST";
                myForm.class = "profile-style2";

                var myInput = document.createElement("input");
                myInput.type = "text";
                myInput.class = "profile-input";
                myInput.id = "user-select-input";
                myInput.name = "user-select-input";
                myInput.placeholder = "Enter user email";

                var myBtn = document.createElement("button");
                myBtn.class = "profile-drop-button";
                myBtn.id = "return-user";
                myBtn.type = "submit";
                myBtn.innerHTML = "Find By User";

                user_div.appendChild(myForm);
                myForm.appendChild(myInput);
                myForm.appendChild(myBtn);
              }

              function updateBillFunction() {
                var getButton = document.getElementById("update-bill-btn");
                getButton.disabled = true;

                var user_div = document.getElementById("update-bill-form");
                var myForm = document.createElement("form");
                myForm.action = "/edit_billing_admin";
                myForm.method = "POST";
                myForm.class = "profile-style2";

                var myInput = document.createElement("input");
                myInput.type = "text";
                myInput.class = "profile-input";
                myInput.id = "update-bill-input";
                myInput.name = "update-bill-input";
                myInput.placeholder = "Enter user email";

                var myBtn = document.createElement("button");
                myBtn.class = "profile-drop-button";
                myBtn.id = "update-billing";
                myBtn.type = "submit";
                myBtn.innerHTML = "Find By User";

                user_div.appendChild(myForm);
                myForm.appendChild(myInput);
                myForm.appendChild(myBtn);
              }


            </script>
    </main>

{% endblock %}