
{% extends "index_user.html" %}

{% block content %}

<div class="container page-form">
    <h1>Create New Meeting</h1>
    <button type="button" class="btn btn-outline-dark btn-sm" id="add-ex">Add Participant</button>
    <form id="meeting-form" action="/meeting/createnew" method="post">
        <div class="form-group">
            <label for="day">Day</label>
            <select form="meeting-form" class="form-control" id="day" name="day" style="width:40%;" required>
                <option value="Mon" selected="selected">Mon</option>
                <option value="Tue">Tue</option>
                <option value="Wed">Wed</option>
                <option value="Thu">Thu</option>
                 <option value="Fri">Fri</option>
            </select>
        </div>
        <div class="invalid-feedback">
                Please provide a valid day.
        </div>
       <div class="form-group">
            <label for="time">Time</label>
            <select form="meeting-form" class="form-control" id="time" name="time" style="width:40%;" required>
                <option value="9AM" selected="selected">9AM</option>
                <option value="10AM">10AM</option>
                <option value="11AM">11AM</option>
                <option value="12PM">12PM</option>
                 <option value="1PM">1PM</option>
                <option value="2PM">2PM</option>
                <option value="3PM">3PM</option>
                <option value="4PM">4PM</option>
                <option value="5PM">5PM</option>
            </select>
        </div>
        <div class="invalid-feedback">
                Please provide a valid time.
        </div>
        <div class="form-group">
            <label for="p1">Participant 1</label>
            <input type="text" id="p1" class="form-control" name="p1" placeholder="enter participant email" required>
        </div>
        <div class="invalid-feedback">
                Please provide a valid email.
        </div>
        <div hidden class="form-group" id="add-to">
            <input type="text" class="form-control" id="p2" name="p2" value = "">
            <input type="text" class="form-control" id="p3" name="p3" value = "">
            <input type="text" class="form-control" id="p4" name="p4" value = "">
            <input type="text" class="form-control" id="p5" name="p5" value = "">
            <input type="text" class="form-control" id="p6" name="p6" value = "">
            <input type="text" class="form-control" id="p7" name="p7" value = "">
            <input type="text" class="form-control" id="p8" name="p8" value = "">
            <input type="text" class="form-control" id="p9" name="p9" value = "">
            <input type="text" class="form-control" id="p10" name="p10" value = "">
        </div>
        <div class="form-group" id="add-to-two">

        </div>

        <script>
            var clicks = 0;
            // add event listener to 'add new' button
            document.getElementById("add-ex").addEventListener("click", function() {
                // increase click counter from 3
                clicks += 1;
                var counter = clicks + 1;

                // DELETE/remove tag with same class name and id to eliminate confusion with server
                var newname = "p" + counter;
                var change_x = document.getElementById(newname).remove();

                // begin constructing new div for new input element
                var b = document.createElement("br");
                var lab = document.createElement("label");
                var newtitle = "Participant " + counter;
                lab.innerHTML = newtitle;

                // CREATE new input element
                var inputNode = document.createElement("input");

                // ADD id to the element
                var newid = "p" + counter;
                inputNode.id = newid;

               // ADD name attribute and give it the newname and set the attribute
                var nm = document.createAttribute("name");
                nm.value = newid;
                inputNode.setAttributeNode(nm);

                // ADD default val
                var val = document.createAttribute("defaultValue");
                val.value = "";
                inputNode.setAttributeNode(val);

                // ADD class name
                inputNode.className = "form-control";

                // SEND TO FORM...for viewing by appending to div class
                document.getElementById('add-to-two').append(b);
                document.getElementById('add-to-two').append(lab);
                document.getElementById('add-to-two').append(inputNode);
            });
        </script>
        <button type="submit" class="btn btn-outline-dark btn-sm">Create Meeting</button>
    </form>

</div>

{% endblock %}