{% extends "index_user.html" %}

{% block content %}

<div class="container page-form">
    <h1>Edit Meeting</h1>
    <form id="meeting-form" action="/edit_meeting/{{ meeting._id }}" method="post">
        <button type="submit" class="btn btn-outline-dark btn-sm">Edit Meeting</button>
        <div class="form-group">
            <label for="day">Day</label>
            <input type="text" id="day" class="form-control" name="day" value="{{meeting.day}}" required>
        </div>
        <div class="invalid-feedback">
                Please provide a valid day.
        </div>
       <div class="form-group">
            <label for="time">Time</label>
            <input type="text" id="time" class="form-control" name="time" value="{{meeting.time}}" required>
        </div>
        <div class="invalid-feedback">
                Please provide a valid time.
        </div>

        {% for key in meeting.members %}
        <div class="form-group">
            <label for="{{key}}">Participant {{ key }} </label>
            <input type="text" id="{{key}}" class="form-control" name="{{key}}" value="{{meeting.members[key]}}">
        </div>
        {% endfor %}
    </form>

</div>

{% endblock %}