{% extends "index_user.html" %}

{% block content %}

<div class="container page-form">
    <h1>File Complaint</h1>

  <div class="form-row">

    <!-- BEGIN FORM HERE -->
    <form id="register-form" action="/auth/file_complaint" method="post">
          <div class="form-row">
              <div class="col-md-12 mb-1">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" readonly="readonly" value="{{email}}">
            </div>
          </div>

        <div class="form-row"><h3>File a Complaint</h3>
        </div>

        <div class="form-row">

              <div class="col-md-12 mb-1">
              <label for="message">Tell Us What happened:</label>
              <textarea class="form-control" id="message" name="message" style="width:600px; height:auto;">

              </textarea>
            </div>

        </div>
        <div class="form-row">
            <button class="btn btn-outline-primary" type="submit">Submit Complaint</button>
        </div>

    </form>
</div>
</div>


{% endblock %}