     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
{% extends "index.html" %}

{% block content %}

<!-- <script src="{{ url_for('static', filename='js/process_login.js') }}"></script> -->

<div class="container page-form">
    <h1>PennStateSoft MSS Login</h1>
    <form id="login-form" action="/admin/login" method="post">
        <div class="form-group">
            <label for="email">Company Email</label>
            <input type="text" id="email" class="form-control" name="email" placeholder="e.g., test@test.com" required>
        </div>
              <div class="invalid-feedback">Please provide a valid email.</div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password" required>
        </div>
              <div class="invalid-feedback">Please provide a valid password.</div>
         <div class="form-group">
            <label for="admincode">Admin Code</label>
            <input type="password" id="admincode" class="form-control" name="admincode" placeholder="Enter your admin code" required>
         </div>
              <div class="invalid-feedback">
                Please provide a valid admin code.
                </div>

        <div class="form-group row">
            <div class="col-6"><button type="submit" class="btn btn-outline-primary">Log in</button></div>
            <div class="col-6"><a href="/pages-forgot-password">Forgot Password?</a></div>
        </div>
    </form>

</div>

         <!-- BUILT IN JS ALERT SYSTEM SCRIPTING HERE  -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
   window.addEventListener('load', function() {

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {

            // if each line checks valid
                 if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                 }
            // else add to validated list
                 form.classList.add('was-validated');
            }, false);  // check form entries in loop
        });
   }, false);
})();
</script>

{% endblock %}