{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Meeting You Are Participating In</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
                <th>Room Number</th>
              <th>Meeting Day</th>
                <th>Meeting Time</th>
                <th>Meeting Creator</th>
                <th>Decline Meeting</th>
            </tr>
          </thead>

          <tbody>
              {% if meetings[0]|length > 0 %}
                {% for meeting in meetings %}
                    {% if meeting|length > 0 %}
              <tr style="background:#bfc1c9;">
                     <td>Room {{ meeting.r_number }}</td>
                    <td> {{ meeting.day }} </td>
                     <td> {{ meeting.time }} </td>
                    <td> {{ meeting.email }} </td>
                    <td><a class="nav-link" href="#">Decline Meeting</a></td>
            </tr>
                    {% endif %}
                {% endfor %}
              {% endif %}
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}