    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>


{% extends "index.html" %}

{% block content %}

<div class="container page-form">
    <div class="main-content container-fluid">

        <div class="card card-border-color card-border-color-primary">

            <div class="card-header">Forgot Password?</div>

            <div class="card-body">

                <form id="login-form" action="/login">

                    <p>Don't worry, we'll send you an email to reset your password.</p>

                    <div class="login-form">

                        <div class="form-group">
                            <input class="form-control" id="email" type="text" placeholder="email" autocomplete="off">
                            <br>
                            <button type="submit" class="btn btn-primary">Request Email to Reset Password</button>
                        </div>

                        <div>
                            <p>Don't remember your email? <a href="#">Contact Support</a></p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  {% endblock %}
