{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

        <img src="{{ url_for('static', filename='assets/calander.png') }}" width="500" height="333">
      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

        <!-- USED THIS ONE --><!-- <img class="my-4 w-100" id="myChart" src="/plot.png" alt="my plot" width="900" height="380"> -->

      <h2>Workout Templates</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Meeting Name</th>
                <th>Meeting Date</th>
                <th>Add-Edit Members</th>
                <th>Contact Members</th>
                <th>Edit Meeting</th>
                <th>Delete Meeting</th>
            </tr>
          </thead>

          <tbody>
            <tr>
                  <td>Put Meeting Name Jinja Code Here</td>
                   <td>Put Date Jinja Code Here</td>
                    <td><a class="nav-link" href="#">Add-Edit Members</a></td>
                   <td><a class="nav-link" href="#">Contact Members</a></td>
                <td><a class="nav-link" href="#">Edit Meeting</a></td>
                <td><a class="nav-link" href="#">Delete Meeting</a></td>
            </tr>


          </tbody>
        </table>
      </div>
    </main>

{% endblock %}