    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
{% extends "index.html" %}

{% block content %}


<div class="container page-form">
    <h1>PennStateSoft MSS Login</h1>
    <form id="login-form" action="/auth/user_type" method="post">
      <label for="account">Select User</label>
        <select form="login-form" class="form-control" id="account" name="account">
            <option value="0">Log In as Admin</option>
            <option value="1">Log In as Client</option>
            <option value="2">Register New User</option>
        </select>
        <br>
        <button type="submit" class="btn btn-outline-primary">Go</button>
    </form>
</div>
    {% endblock %}